body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.sidenav {
  height: 100vh;
  margin-top: 70px;
  max-width: 230px;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #fdfdfd;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid #e3e3e3;
}

.sidenav a {
  padding-top: 50px;
  padding: 7px 30px;
  text-decoration: none;
  font-size: 16px;
  color: #343436;
  display: block;
}

/* .sidebarmenu{
  
} */
.sidenav a:hover {
  color: blue;
}

.main {
  margin-left: -100px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* rightside navbar  */

.right-sidenav {
  height: 100%;
  max-width: 330px;
  background-color: #fdfdfd;
  border-left: 1px solid #e3e3e3;
  overflow-x: hidden;
  padding-top: 20px;
}

.right-sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.right-sidenav a:hover {
  color: blue;
}

@media screen and (max-height: 450px) {
  .right-sidenav {
    padding-top: 15px;
  }
  .right-sidenav a {
    font-size: 18px;
  }
}

.navpadtop {
  padding-top: 10px;
}

.navpadbottom {
  padding-bottom: 10px;
}

.navshadow {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  font-size: 15px;
  font-weight: bold;
  padding-left: 30px;
}

.ui.input > input {
  /* border-radius: 50px !important; */
  border: none !important;
}

.ui.menu .item:before {
  height: inherit !important;
}

.grey-text {
  color: #717572;
}

.avatar {
  width: 50px;
}
.subhead {
  margin-left: 30px;
  font-size: 12px;
  color: gray;
  font-weight: bold;
  letter-spacing: 1px;
}

.heading {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  margin-left: 30px;
}

.d-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profilenamestyle {
  font-size: 25px;
}
.projectsStyle {
  color: #aeaeae;
  font-size: 14px;
}

.numbers {
  font-size: 20px;
  border-left: 2px solid blue;
  color: #000;
}

.trackbox {
  border: 5px solid #e5e2e2;
  border-radius: 4px;
  background: #fff;
  color: #000;
  padding: 20px;
}

.mb-0 {
  margin-bottom: 0px;
}

.desc {
  font-size: 22px;
  font-weight: bold;
}
.desc1 {
  font-size: 14px;
}

.card {
  background: #6a40d3;
  padding: 20px;
  color: #fff;
  border-radius: 8px;
  width: 200px;
}

.roundcard {
  border-radius: 8px;
  background: #fff;
  border: 5px solid #e3e3e3;
  width: 200px;
  padding: 20px;
}
.panel {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #186666;
  background: #f1f8f8;
}

.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.panelavatar {
  width: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.p-10 {
  padding: 10px !important;
}

.bl {
  border-left: 1px solid #e3e3e3;
}
